* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    color: white;
    cursor: none;
}

.cursor {
    width: 28px;
    height: 28px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.08s linear;
}

h1 {
    font-size: 100px;
    font-weight: 900;
}




